<%- include('header'), {title:title} %>

    <a class="gradient-button" href="/api/books">Мои книги</a>
    <a class="gradient-button" href="/api/createBook" style="margin-top:100px">Добавить книгу</a>
    <a  href="/" style="position:absolute; right:-5%; color:red; cursor:pointer">Выйти</a>

    <%- include('end') %>