<%- include('header'), {title:title} %>

<a class="gradient-button" href="/user/registration" >Регистрация</a>
<a class="gradient-button" href="/user/login" style="margin-top:100px">Войти</a>


    <%- include('end') %>